@import url( 'https://fonts.googleapis.com/css?family=Anton:400|Roboto:400,700' );

html, body {
  height : 100%;
}

body {
  font-family         : 'Roboto', sans-serif;
  background-color    : #FFFFFF;
  color               : #CF5C36;
  margin              : 0px;
  background-image    : url( 'polka-dots.png' );
  background-size     : 411px 200;
  background-position : right top;
  background-repeat   : repeat-y;
}

h1 {
  font-family : 'Anton', serif;
  padding     : 10px 20px 12px 20px;
  margin      : 0px;
  color       : #111344;
}

h2 {
  font-weight    : 700;
  font-size      : 1em;
  text-transform : uppercase;
  letter-spacing : 0.1em;
  padding        : 20px;
  margin         : 0px;
}

p {
  padding   : 6px 20px 6px 20px;
  margin    : 0px;
  font-size : 1.5rem;
}

table {
  background-color: #FFFFFF;
  margin: 10px;
  padding: 5px;
  border: 1px solid #C0C0C0;
  border-spacing: 0px;
}
  
th {
  text-transform: uppercase;
  text-align: left;
  font-size: 0.75em;
  letter-spacing: 0.2em;
  padding: 5px 10px;
  background-color: #E6E6E6;
  color: #111344;
}
  
td {
  padding: 5px 10px;
}